# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Database files
*.db

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store

# Temporary test files
test_*.py
run_test.py

# Mininet results
mininet_results/